body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Times New Roman;
	vertical-align: baseline;
}
* {	
	box-sizing: border-box;
}
@font-face {
    font-family: armyfont;
    src: url(../font/DueDate.ttf);
}
@media only screen and (min-width:960px){
	header ul{	
		right: 0;
	bottom: 0;}
	header>*{
		position: absolute;
	}

	body{
	position: relative;
	width:920px;
	margin:auto;
	display:grid; 
    grid-template-columns: 220px auto;
	grid-gap: 1.5em;
	grid-auto-rows:150px auto ;
	height: 100%;
	}
	header ul li a {
	padding: 0 45px;
	float: left;
	
	}
	header ul li {
		float:left;
	}
	header  img{
	top: 0;
	left:0;
    }
	#name{
	width: 680px;
	right: 0;
	top: 0;
	height: 100px;
	
	}
	#name > p{
	padding: 10px;
	font-size: 4rem;
	}
}
@media only screen and (max-width:960px) and (min-width:760px){
	header ul{	
		right: 0;
	bottom: 0;}
	header>*{
		position: absolute;
	}

	body{
	position: relative;
	display:grid; 
    grid-template-columns: 200px auto;
	grid-gap: 1.5em;
	grid-auto-rows:150px auto;
	width:100%;
	height:100%;
	}
	header ul li a {
	padding: 0 25px;
	float: left;
	
	}
	header ul li {
		float:left;
	}
	header  img{
	top: 0;
	left:0;
	}
	#name{
	width: 550px;
	right: 0;
	top: 0;
	height: 100px;
	
	}
	#name > p{
	padding: 10px;
	font-size: 3.8rem;
	}
}
@media only screen and (max-width:760px){

   *{
		width: 100%;
		position: relative;
	}
	header{
		height:auto;
	}
	#name > p{
	padding: 10px;
	font-size: 2.8rem;
	height: 150px;
	}
	#last{
	border-bottom: 2px solid white;
}

}
html{
	background-color:#575353;
	height:100%;
	
}	
body > *{
	position: relative;
}
header {
	
  grid-column: 1 / 3;

}
header> img{
	width:225px;
	height:auto;
}
footer{
	height:50px;
	grid-column: 1 / 3;
	text-align:center;
}
nav{
}
main{
	height:auto;
	padding: 20px;
	text-align: justify;
}
main > div {
	height:500px;
	overflow-y: scroll;
	padding-right:15px;
}
header ul li {
	border-left: 1px solid white;
	border-top: 2px solid white;
	list-style: none;
	display: inline-block;
	text-align:center;
	line-height: 40px;
}
nav ul{	
	position: relative;
	width:100%;
}
nav ul  li {
	list-style: none;
	line-height: 40px;
	background-color:rgb(92, 95, 86);
	border: 2px solid rgb(113, 117, 106);
}
nav ul li ul li {
	background-color:rgb(82, 88, 71);
	position: relative;	
	left: 5px;

}
nav ul li a {
	padding-right: 50px;
	padding-left: 10px;
	
}
ul li a {
	text-decoration: none;
	font-size: 1.2rem;
	font-family: typewriter;
	font-weight:bold;
	text-decoration: none;
	color: black;
	
}
ul li ul{
	height: 0;
	overflow:hidden;
}
ul li:hover ul{
	height:100%
}

#ger:hover{
	background-color:rgb(106, 117, 115);
	
}
#us:hover{
	background-color:rgb(113, 117, 106);
}
	
#ger:hover > *{
	color: #cccccc;
	
}
#us:hover > *{
	color: #cccccc;
	
}

#name > p{
	
	font-family: armyfont;
	text-align:center;
}
.menu:hover{
	background-color:rgb(121, 121, 121);
}
.menu:hover > *{
	color: #cccccc;
}
